{% form_theme edit_form 'ToaTwitterBootstrapBundle:Form:widgets.html.twig' %}

{% extends "SkonsoftCvEditorBundle::layout.html.twig" %}
{% block container %}

<h1 class="page-header">{{ 'CvProfile'|trans }} {{ 'edit'|trans }}</h1>

<div class="container-fluid">
    <div class="row-fluid">
        
        <div class="span5 well">
            {% if entity.cvDocument %}
                {% render 'SkonsoftCvEditorBundle:CvDocument:showAsHtml' with {'id': entity.cvDocument.id } %}
            {% else%}
                <input type="button" class="btn" value="Ajouter un cv" />
            {%endif%}
       </div>
            
        <div class="span7 well">
            <form class="form-horizontal" action="{{ path('cv_profile_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>

                {% include "SkonsoftCvEditorBundle:CvProfile:tabForm.html.twig" with {'form':edit_form} %}

                
                    <button class="btn-large btn" type="submit">
                        <i class="icon-pencil"></i>
                        {{ 'edit'|trans }}
                    </button>
            </form>

                <div class="row-fluid">
                    <form action="{{ path('cv_profile_delete', { 'id': entity.id }) }}" method="post">
                    {{ form_widget(delete_form) }}
                    <button class="btn btn-danger" type="submit">
                        <i class="icon-trash"></i>
                        {{ 'delete'|trans }}
                    </button>
                    <a class="btn" href="{{ path('cv_profile') }}">
                        <i class="icon-th-list"></i>
                        {{ 'back to the list'|trans }}
                    </a>
                </form>

                
            </div>
       </div>
            
       
  </div>
</div>

{% endblock %}