{% extends "SkonsoftCvEditorBundle::layout.html.twig" %}
{% block container %}

<h1 class="page-header">{{ 'CvProfile'|trans }} {{ 'list'|trans }}</h1>

<table class="records_list table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th>{{ 'Id'|trans }}</th>
            <th>{{ 'Proprietaire'|trans }}</th>
            <th>{{ 'Language'|trans }}</th>
            <th>{{ 'Salary'|trans }}</th>
            <th>{{ 'Totalexperienceyears'|trans }}</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('cv_profile_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.cvPersonal }}</td>
            <td>{{ entity.language }}</td>
            <td>{{ entity.salary }}</td>
            <td>{{ entity.totalExperienceYears }}</td>
            <td>
                <a class="btn btn-mini" href="{{ path('cv_profile_show', { 'id': entity.id }) }}">
                    <i class="icon-eye-open"></i>
                    {{ 'show'|trans }}
                </a>
                <a class="btn btn-mini" href="{{ path('cv_profile_edit', { 'id': entity.id }) }}">
                    <i class="icon-pencil"></i>
                    {{ 'edit'|trans }}
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<a class="btn" href="{{ path('cv_upload_new') }}">
    <i class="icon-plus"></i>
    {{ 'Ajouter un nouveau CV'|trans }}
</a>

{% endblock %}