{% form_theme form 'ToaTwitterBootstrapBundle:Form:widgets.html.twig' %}

{% extends 'ToaTwitterBootstrapBundle::layout.html.twig' %}
{% block content %}



<h1 class="page-header">{{ 'CvProfile'|trans }} {{ 'creation'|trans }}</h1>


<form class="form-horizontal" action="{{ path('cv_profile_create') }}" method="post" {{ form_enctype(form) }}>


    {% include "SkonsoftCvEditorBundle:CvProfile:tabForm.html.twig" %}
    
    <button class="btn" type="submit">
        <i class="icon-plus"></i>
            {{ 'Add'|trans }}
    </button>
    
</form>

    
    <a class="btn" href="{{ path('cv_profile') }}">
        <i class="icon-th-list"></i>
        {{ 'back to the list'|trans }}
    </a>

{% endblock %}