<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>

<ul class="nav nav-tabs" id="cvTab">
    <li><a href="#profile" data-toggle="tab">Profil</a></li>
    <li><a href="#studies" data-toggle="tab">Etudes</a></li>
    <li><a href="#experiences" data-toggle="tab">Expérience</a></li>
    <li><a href="#others" data-toggle="tab">Autres</a></li>
</ul>


<div class="tab-content">

    <div class="tab-pane active" id="profile">
        {{ form_errors(form) }}
            <div>
                <h2>Résumé</h2>
          {{ form_row(form.totalExperienceYears) }}
            </div>
            <div>
                <h2>Données personelles</h2>
          {{ form_row(form.cvPersonal.lastName) }}
          {{ form_row(form.cvPersonal.lastNamePrefix) }}
          {{ form_row(form.cvPersonal.initials) }}
          {{ form_row(form.cvPersonal.firstName) }}
          {{ form_row(form.cvPersonal.middleName) }}
          {{ form_row(form.cvPersonal.title) }}
          {{ form_row(form.cvPersonal.dateOfBirth) }}
          {{ form_row(form.cvPersonal.placeOfBirth) }}
          {{ form_row(form.cvPersonal.maritalStatus) }}
          {{ form_row(form.cvPersonal.nationality) }}
          {{ form_row(form.cvPersonal.genderCode) }}
          {{ form_row(form.cvPersonal.driversLicence) }}
          {{ form_row(form.cvPersonal.availability) }}
            </div>

            <div>
                <h2>Adresse</h2>
          {{ form_widget(form.cvPersonal.CvAddress) }}
            </div>

            <div id="coordonnee">
                <h2>Coordonnées</h2>
                <h5>Tél/fax</h5>
                <div id="phones_form">
                    {{ form_errors(form.cvPersonal.CvPhones) }}
                    {{ form_widget(form.cvPersonal.CvPhones) }}
                </div>
                <p>
                    <button class="btn" id="addCvPhone" type="button">
                        <i class="icon-plus"></i>
                    </button>
                </p>
                
                <hr />
                <h5>E-mails</h5>
                <div id="emails_form">
                    {{ form_errors(form.cvPersonal.CvEmails) }}
                    {{ form_widget(form.cvPersonal.CvEmails) }}
                </div>
                <p>
                    <button class="btn" id="addCvEmail" type="button">
                        <i class="icon-plus"></i>
                    </button>
                </p>
                
            </div>

            <div>
                {#form_rest(form) #}
            </div>



    </div>

    <div class="tab-pane" id="studies">
        <div id="studies_form">
            {{ form_errors(form.cvEducationHistories) }}
            {{ form_widget(form.cvEducationHistories) }}
        </div>
        <p>
            <button class="btn" id="addCvEducHistory" type="button">
                <i class="icon-plus"></i>
            </button>
        </p>
    </div>

    <div class="tab-pane" id="experiences">
        <div id="experiences_form">
            {{ form_errors(form.cvEmploymentHistories) }}
            {{ form_widget(form.cvEmploymentHistories) }}
        </div>
        <p>
            <button class="btn" id="addCvEmployHistory" type="button">
                <i class="icon-plus"></i>
            </button>
        </p>
    </div>

    <div class="tab-pane" id="others">
        <h3>Language Skills</h3>
        <div id="languages_form">
            {{ form_errors(form.cvLanguageSkills) }}
            {{ form_widget(form.cvLanguageSkills) }}
        </div>
        <p>
            <button class="btn" id="addCvLanguageSkill" type="button">
                <i class="icon-plus"></i>
            </button>
        </p>
        <hr />
        
        <h3>Benefits</h3>
        <div id="benefits_form">
            {{ form_errors(form.cvBenefits) }}
            {{ form_widget(form.cvBenefits) }}
        </div>
        <p>
            <button class="btn" id="addCvBenefit" type="button">
                <i class="icon-plus"></i>
            </button>
        </p>
        <hr />
        
        <h3>Soft Skills</h3>
        <div id="softSkills_form">
            {{ form_errors(form.cvSoftSkills) }}
            {{ form_widget(form.cvSoftSkills) }}
        </div>
        <p>
            <button class="btn" id="addCvSoftSkills" type="button">
                <i class="icon-plus"></i>
            </button>
        </p>
        <hr />
        
        <h3>hobbies</h3>
        <div id="hobbies_form">
            {{ form_errors(form.cvHobbies) }}
            {{ form_widget(form.cvHobbies) }}
        </div>
        <p>
            <button class="btn" id="addCvHobbies" type="button">
                <i class="icon-plus"></i>
            </button>
        </p>
        <hr />
        
        <h3>References</h3>
        <div id="references_form">
            {{ form_errors(form.cvReferences) }}
            {{ form_widget(form.cvReferences) }}
        </div>
        <p>
            <button class="btn" id="addCvReferences" type="button">
                <i class="icon-plus"></i>
            </button>
        </p>
        <hr />
        
        <h3>Computer Skills</h3>
        <div id="computerSkills_form">
            {{ form_errors(form.cvComputerSkills) }}
            {{ form_widget(form.cvComputerSkills) }}
        </div>
        <p>
            <button class="btn" id="addCvComputerSkills" type="button">
                <i class="icon-plus"></i>
            </button>
        </p>
        <hr />
        
                        {{ form_rest(form)}}
    </div>
<hr/>
</div>

<script>
jQuery(function () {
    $('#cvTab a:first').tab('show');
    
    $("#addCvEducHistory").click(function () {
        addTagForm("#studies #studies_form","addCvEducHistory", "Etude" );
    });
    
    $("#addCvEmployHistory").click(function () {
        addTagForm("#experiences #experiences_form","addCvEmployHistory", "Emploi" );
    });
    
    $("#addCvLanguageSkill").click(function () {
        addTagForm("#others #languages_form","addCvLanguageSkill", "langue" );
    });
    
    $("#addCvBenefit").click(function () {
        addTagForm("#others #benefits_form","addCvBenefit", "Bénfice" );
    });
    
    $("#addCvSoftSkills").click(function () {
        addTagForm("#others #softSkills_form","addCvSoftSkills", "Soft" );
    });
    
    $("#addCvHobbies").click(function () {
        addTagForm("#others #hobbies_form","addCvHobbies", "Hobby" );
    });
    
    $("#addCvReferences").click(function () {
        addTagForm("#others #references_form","addCvReferences", "Référence" );
    });
    
    $("#addCvComputerSkills").click(function () {
        addTagForm("#others #computerSkills_form","addCvComputerSkills", "Computer" );
    });
    
    $("#addCvPhone").click(function () {
        addTagForm("#coordonnee #phones_form","addCvPhone", "Tél" );
    });
    
    $("#addCvEmail").click(function () {
        addTagForm("#coordonnee #emails_form","addCvEmail", "Email" );
    });
});
      
function addTagForm(div, idLinkAdd, name) {
    var collectionHolder = $(div+" > div");dump($(div+" > div"));
    // Récupère l'élément ayant l'attribut data-prototype comme expliqué plus tôt
    var prototype = collectionHolder.attr('data-prototype');

    var newForm = prototype.replace(/__name__label__/g, name+" "+$(div).parent().children().size());
    // Remplace '__name__' dans le HTML du prototype par un nombre basé sur
    // la longueur de la collection courante
    newForm = newForm.replace(/__name__/g, $(div).parent().children().size());

    // Affiche le formulaire dans la page dans un div, avant le lien "ajouter"
    var $newFormLi = $('<div></div>').append(newForm);
    $("#"+idLinkAdd).parent().before($newFormLi);
}

</script>