{% extends 'ToaTwitterBootstrapBundle::layout.html.twig' %}
{% block content %}

<h1 class="page-header">{{ 'CvClient'|trans }} {{ 'list'|trans }}</h1>

<table class="records_list table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th>{{ 'Id'|trans }}</th>
            <th>{{ 'Company'|trans }}</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('cv_client_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.company }}</td>
            <td>
                <a class="btn btn-mini" href="{{ path('cv_client_show', { 'id': entity.id }) }}">
                    <i class="icon-eye-open"></i>
                    {{ 'show'|trans }}
                </a>
                <a class="btn btn-mini" href="{{ path('cv_client_edit', { 'id': entity.id }) }}">
                    <i class="icon-pencil"></i>
                    {{ 'edit'|trans }}
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<a class="btn" href="{{ path('cv_client_new') }}">
    <i class="icon-plus"></i>
    {{ 'create a new entry'|trans }}
</a>

{% endblock %}