{% form_theme form 'ToaTwitterBootstrapBundle:Form:widgets.html.twig' %}

{% extends 'ToaTwitterBootstrapBundle::layout.html.twig' %}
{% block content %}

<h1 class="page-header">{{ 'CvReference'|trans }} {{ 'creation'|trans }}</h1>

<form class="form-horizontal" action="{{ path('cv_reference_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button class="btn" type="submit">
            <i class="icon-plus"></i>
            {{ 'create'|trans }}
        </button>
    </p>
</form>



    <a class="btn" href="{{ path('cv_reference') }}">
        <i class="icon-th-list"></i>
        {{ 'back to the list'|trans }}
    </a>

{% endblock %}